<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>app</title>
</head>
<body>
   <!--vue-ssr-outlet--> 
<!--     // <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
    // <script src="https://cdn.bootcss.com/vue-router/2.7.0/vue-router.min.js"></script>
    // <script src="https://cdn.bootcss.com/vuex/2.3.1/vuex.min.js"></script> -->

     
     
</body>
</html>